<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  
  <Properties>
    <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} %-5level %c::%M:%L - %m%n</Property>
  </Properties>
  
  <Appenders>
    <Console name="Console_Error" target="SYSTEM_OUT" follow="true">
      <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <LevelRangeFilter minLevel="TRACE" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Logger name="net.iubris.optimus_saint" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Console_Error"/>
    </Logger>
  </Loggers>
  
</Configuration>